@import url('https://fonts.googleapis.com/css2?family=Inter&family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*   {
    box-sizing: border-box;
    font-family: "Poppins";
    font-style: normal;
    margin: 0;
}
a{
    color: #394149;
    text-decoration: none;
}
.nav    {
    max-width: 1280px;
    height: 52px;
    margin: 16px auto;
    font-weight: 600;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    
}
.nav ul {
    display: flex;
    justify-content: flex-start;
    gap: 32px;
    align-items: center;
}
.nav img {
    width: 122px;
    height: 28px;
    margin: 12px 0;
}
.nav ul li {
    list-style: none;
}
.nav p {
    padding: 18px 30px 17px 29px;
    width: 173px;
    height: 52px;
    color: #F58A07;
    background-color: #F58A071A;
    border-radius: 31px
}
.nav p a{
    color: #F58A07;
}
.sec1   {
    max-width: 1280px;
    margin: 100px auto;
    height: 631px;
}
.sec1 img {
    border-radius: 30px;
}
.sec2   {
    max-width: 752px;
    height: 1344px;
    margin: 0 auto;
    margin-bottom: 128px;
}
.sec2-header    {
    width: 420px;
    height: 32px;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: #394149;
    opacity: 0.87;
    display: flex;
    margin: 0 0 24px 0;
}
.sec2-header img{
    margin-right: 8px;
}
.sec2-header-q  {
    width: 123px;
    height: 32px;
    margin-right: 24px;
}
.sec2-header-w  {
    width: 230px;
    height: 32px;
}
.sec2-main-q    {
    width: 752px;
    height: 216px;
    font-weight: 600;
    font-size: 64px;
    line-height: 72px;
    letter-spacing: -0.03em;
    color: #1D3444;
    margin-bottom: 32px;
}
.sec2-main-w    {
    width: 752px;
    height: 168px;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    color: #5B5B5B;
    margin-bottom: 24px;
}
.sec2-main-e    {
    width: 752px;
    height: 112px;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    color: #5B5B5B;
    margin-bottom: 24px;
}
.sec2-main-r    {
    width: 752px;
    height: 168px;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    color: #5B5B5B;
    margin-bottom: 48px
}
.sec2-main-t    {
    width: 752px;
    height: 168px;
    font-weight: 600;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -0.03em;
    color: #0D1317;
    margin-bottom: 24px;
}
.sec2-main-y    {
    width: 752px;
    height: 112px;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    color: #5B5B5B;
    margin-bottom: 24px
}
.sec2-main-u    {
    width: 752px;
    height: 168px;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    color: #5B5B5B;
}
.footer {
    max-width: 100%;
    height: 463px;
    background-color: #063255;
    position: relative;
    padding-top: 80px;
}
.footer-border1 {
    width: 53px;
    height: 144px;
    background: #F58A07;
    border-top-right-radius: 20px;
    position: absolute;
    bottom: 0;
}
.footer-border2 {
    width: 53px;
    height: 287px;
    background: #F58A07;
    border-radius: 20px 0px 0px 20px;
    position: absolute;
    right: 0;
    top: 38px;
}
.footer-main    {
    max-width: 1280px;
    height: 199px;
    margin: 0 auto;
    display: flex;
}
.footer-main-first  {
    width: 351px;
    height: 100%;
    margin-right: 110px;
}
.footer-main-first-q    {
    margin: 0 0 32px 0;
}
.footer-main-first-w    {
    width: 351px;
    height: 88px;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    letter-spacing: -0.03em;
    color: #FFFFFF;
}
.footer-main-first-e    {
    margin: 32px 0 0 0;
}
.footer-main-second {
    width: 92px;
    height: 100%;
    margin-right: 106px;
}
.footer-main-second-q   {
    width: 92px;
    height: 27px;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
    margin-bottom: 24px;
}
.footer-main-second-w   {
    width: 72px;
    height: 24px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    margin-bottom: 16px;
}
.footer-main-second-e   {
    width: 65px;
    height: 24px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    margin-bottom: 16px;
}
.footer-main-second-r   {
    width: 68px;
    height: 24px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    margin-bottom: 16px;
}
.footer-main-second-t   {
    width: 35px;
    height: 24px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}
.footer-main-third  {
    width: 142px;
    height: 100%;
    margin-right: 137px;
}
.footer-main-third-q    {
    width: 79px;
    height: 27px;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
    margin-bottom: 26px;
}
.footer-main-third-w    {
    width: 142px;
    height: 24px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    margin-bottom: 16px;
}
.footer-main-third-e    {
    width: 136px;
    height: 24px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}
.footer-main-fourth {
    width: 342px;
    height: 100%;
}
.footer-main-fourth-q   {
    width: 141px;
    height: 27px;
    margin-bottom: 24px;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
}
.footer-main-fourth-w   {
    width: 342px;
    height: 54px;
    background: #FFFFFF;
    border-radius: 31px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #9C9C9C;
    padding-top: 18px;
    padding-left: 32px;
    margin-bottom: 16px;
}
.footer-main-fourth-e   {
    width: 156px;
    height: 54px;
    background: #F58A07;
    border-radius: 31px;
    font-weight: 600;
    font-size: 18px;
    line-height: 106.5%;
    text-transform: capitalize;
    color: #FFFFFF;
    padding-top: 17px;
    padding-left: 32px;
}
.footer-footer  {
    max-width: 1280px;
    height: 24px;
    margin: 80px auto;
    display: flex;
}
.footer-footer-q    {
    width: 249px;
    height: 24px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    margin-right: 733px;
}
.footer-footer-w    {
    width: 110px;
    height: 24px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    margin-right: 32px;
}
.footer-footer-e    {
    width: 156px;
    height: 24px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}
