@import url('https://fonts.googleapis.com/css2?family=Inter&family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*   {
    box-sizing: border-box;
    font-family: "Poppins";
    font-style: normal;
    margin: 0;
}
.nav    {
    max-width: 1280px;
    height: 52px;
    margin: 16px auto;
    font-weight: 600;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    
}
.nav ul {
    display: flex;
    justify-content: flex-start;
    gap: 32px;
    align-items: center;
}
.nav img {
    width: 122px;
    height: 28px;
    margin: 12px 0;
}
.nav ul li {
    list-style: none;
}
.nav p {
    padding: 18px 30px 17px 29px;
    width: 173px;
    height: 52px;
    color: #F58A07;
    background-color: #F58A071A;
    border-radius: 31px
}
.sec1   {
    max-width: 1280px;
    height: 702px;
    margin: 108px auto;
}
.sec1-header    {
    width: 1165px;
    height: 182px;
    display: flex;
    margin-bottom: 63px;
}
.sec1-header-l  {
    width: 561px;
    height: 100%;
    margin-right: 99px;
}
.sec1-header-l1 {
    width: 561px;
    height: 128px;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 48px;
    line-height: 64px;
    letter-spacing: -0.03em;
    color: #1D3444;
    margin-bottom: 24px;
}
.sec1-header-l2 {
    width: 524px;
    height: 30px;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #5B5B5B;
}
.sec1-header-m  {
    width: 270px;
    height: 100%;
    margin-right: 76px;
}
.sec1-header-m1 {
    width: 99px;
    height: 30px;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: -0.03em;
    color: #0D1317;
    margin: 20px 0 16px 0;
}
.sec1-header-m2 {
    width: 270px;
    height: 60px;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #5B5B5B;
}
.sec1-header-r  {
    width: 30px;
    height: 100%;
}
.sec1-header-r1 {
    width: 127px;
    height: 30px;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: -0.03em;
    color: #0D1317;
    margin: 20px 0 16px 0;
}
.sec1-header-r2 {
    width: 132px;
    height: 30px;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #5B5B5B;
    margin-bottom: 4px;
}
.sec1-header-r3 {
    width: 159px;
    height: 30px;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #5B5B5B;
}
.sec1-main  {
    width: 1280px;
    height: 456px;
    display: flex;
}
.sec1-main-l    {
    flex: 1;
}
.sec1-main-l1   {
    width: 605px;
    height: 54px;
    background: rgba(210, 218, 237, 0.17);
    border-radius: 27px;
    padding-top: 17px;
    padding-left: 32px;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #9C9C9C;
    margin-bottom: 16px;
}
.sec1-main-l2   {
    width: 605px;
    height: 54px;
    background: rgba(210, 218, 237, 0.17);
    border-radius: 27px;
    padding-top: 17px;
    padding-left: 32px;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #9C9C9C;
    margin-bottom: 16px;
}
.sec1-main-l3   {
    width: 605px;
    height: 54px;
    background: rgba(210, 218, 237, 0.17);
    border-radius: 27px;
    padding-top: 17px;
    padding-left: 32px;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #9C9C9C;
    margin-bottom: 16px;
}
.sec1-main-l4   {
    width: 605px;
    height: 160px;
    background: rgba(210, 218, 237, 0.17);
    border-radius: 27px;
    padding-top: 32px;
    padding-left: 32px;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #9C9C9C;
    margin-bottom: 32px;
}
.sec1-main-l5   {
    width: 119px;
    height: 54px;
    background: #F58A07;
    border-radius: 31px;
    padding-top: 18px;
    padding-left: 32px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 106.5%;
    text-transform: capitalize;
    color: #FFFFFF;
}
.sec1-main-r    {
    flex: 1;
}
.sec1-main-r iframe {
    border-radius: 20px;
}
.footer {
    max-width: 100%;
    height: 463px;
    background-color: #063255;
    position: relative;
    padding-top: 80px;
}
.footer-border1 {
    width: 53px;
    height: 144px;
    background: #F58A07;
    border-top-right-radius: 20px;
    position: absolute;
    bottom: 0;
}
.footer-border2 {
    width: 53px;
    height: 287px;
    background: #F58A07;
    border-radius: 20px 0px 0px 20px;
    position: absolute;
    right: 0;
    top: 38px;
}
.footer-main    {
    max-width: 1280px;
    height: 199px;
    margin: 0 auto;
    display: flex;
}
.footer-main-first  {
    width: 351px;
    height: 100%;
    margin-right: 110px;
}
.footer-main-first-q    {
    margin: 0 0 32px 0;
}
.footer-main-first-w    {
    width: 351px;
    height: 88px;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    letter-spacing: -0.03em;
    color: #FFFFFF;
}
.footer-main-first-e    {
    margin: 32px 0 0 0;
}
.footer-main-second {
    width: 92px;
    height: 100%;
    margin-right: 106px;
}
.footer-main-second-q   {
    width: 92px;
    height: 27px;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
    margin-bottom: 24px;
}
.footer-main-second-w   {
    width: 72px;
    height: 24px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    margin-bottom: 16px;
}
.footer-main-second-e   {
    width: 65px;
    height: 24px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    margin-bottom: 16px;
}
.footer-main-second-r   {
    width: 68px;
    height: 24px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    margin-bottom: 16px;
}
.footer-main-second-t   {
    width: 35px;
    height: 24px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}
.footer-main-third  {
    width: 142px;
    height: 100%;
    margin-right: 137px;
}
.footer-main-third-q    {
    width: 79px;
    height: 27px;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
    margin-bottom: 26px;
}
.footer-main-third-w    {
    width: 142px;
    height: 24px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    margin-bottom: 16px;
}
.footer-main-third-e    {
    width: 136px;
    height: 24px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}
.footer-main-fourth {
    width: 342px;
    height: 100%;
}
.footer-main-fourth-q   {
    width: 141px;
    height: 27px;
    margin-bottom: 24px;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
}
.footer-main-fourth-w   {
    width: 342px;
    height: 54px;
    background: #FFFFFF;
    border-radius: 31px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #9C9C9C;
    padding-top: 18px;
    padding-left: 32px;
    margin-bottom: 16px;
}
.footer-main-fourth-e   {
    width: 156px;
    height: 54px;
    background: #F58A07;
    border-radius: 31px;
    font-weight: 600;
    font-size: 18px;
    line-height: 106.5%;
    text-transform: capitalize;
    color: #FFFFFF;
    padding-top: 17px;
    padding-left: 32px;
}
.footer-footer  {
    max-width: 1280px;
    height: 24px;
    margin: 80px auto;
    display: flex;
}
.footer-footer-q    {
    width: 249px;
    height: 24px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    margin-right: 733px;
}
.footer-footer-w    {
    width: 110px;
    height: 24px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    margin-right: 32px;
}
.footer-footer-e    {
    width: 156px;
    height: 24px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}