@import url('https://fonts.googleapis.com/css2?family=Inter&family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*   {
    box-sizing: border-box;
    font-family: "Poppins";
    font-style: normal;
    margin: 0;
}
a{
    color: #394149;
    text-decoration: none;
}
.nav    {
    max-width: 1280px;
    height: 52px;
    margin: 16px auto;
    font-weight: 600;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    
}
.nav ul {
    display: flex;
    justify-content: flex-start;
    gap: 32px;
    align-items: center;
}
.nav img {
    width: 122px;
    height: 28px;
    margin: 12px 0;
}
.nav ul li {
    list-style: none;
}
.nav p {
    padding: 18px 30px 17px 29px;
    width: 173px;
    height: 52px;
    color: #F58A07;
    background-color: #F58A071A;
    border-radius: 31px
}
.nav p a{
    color: #F58A07;
}
.sec1 {
    display: flex;
    max-width: 1280px;
    height: 650px;
    margin: 90px auto;
}
.sec1-left  {
    flex: 1;
}
.sec1-left-first    {
    width: 618px;
    height: 216px;
    font-weight: 600;
    font-size: 64px;
    line-height: 72px;
    letter-spacing: -0.03em;
    color: #1D3444;
    margin: 132px 0 24px 0;
}
.sec1-left-second   {
    width: 510px;
    height: 59px;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #5B5B5B;
    margin: 0 0 32px 0;
}
.sec1-left-third    {
    width: 171px;
    height: 54px;
    background: #F58A07;
    border-radius: 27px;
    font-weight: 600;
    font-size: 16px;
    line-height: 106.5%;
    text-transform: capitalize;
    color: #FFFFFF;
    padding-top: 18px;
    padding-left: 32px;
}
.sec1-right {
    flex: 1;
    position: relative;
    background-color: white;
}
.sec1-right-shape   {
    width: 180px;
    height: 650px;
    background-color: #F58A07;
    mix-blend-mode: multiply;
    border-radius: 20px 0px 0px 20px;
    position: absolute;
    top: 0;
}
.sec2   {
    max-width: 1376px;
    height: 550px;
    margin: 0 auto;
    margin-bottom: 128px;
    display: flex;
}
.sec2-left  {
    position: relative;
    flex: 1;
}
.sec2-right{
    flex: 1;
}
.sec2-left  img{
    margin: 0 0 0 49px;
}
.sec2-left-shape    {
    width: 95px;
    height: 97px;
    background: #F58A07;
    mix-blend-mode: multiply;
    border-radius: 20px;
    position: absolute;
    top: 128px;
    left: 1px;
}
.sec2-right-q   {
    width: 410px;
    height: 56px;
    font-weight: 600;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -0.03em;
    color: #0D1317;
    margin: 128px 221px 24px 76px;
}
.sec2-right-w   {
    width: 583px;
    height: 90px;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #5B5B5B;
    margin: 0 47px 24px 76px;
}
.sec2-right-e   {
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    color: #5B5B5B;
    margin: 0 0 0 57px;
}
.sec3 {
    max-width: 1376px;
    height: 550px;
    margin: 0 auto;
    margin-bottom: 128px;
    display: flex;
}
.sec3-left {
    flex: 1;
}
.sec3-left-q    {
    width: 302px;
    height: 56px;
    font-weight: 600;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -0.03em;
    color: #0D1317;
    margin: 157px 0 24px 48px;
}
.sec3-left-w    {
    width: 580px;
    height: 150px;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #5B5B5B;
    margin: 0 0 0 48px;
}
.sec3-right {
    flex: 1;
    position: relative;
}
.sec3-right-shape   {
    width: 95px;
    height: 97px;
    background: #F58A07;
    mix-blend-mode: multiply;
    border-radius: 20px;
    position: absolute;   
    right:0 ;
    top: 272px;
}
.sec3-right img{
    position: absolute;
    right: 45px;
}
.sec4   {
    max-width: 1376px;
    height: 550px;
    margin: 0 auto;
    margin-bottom: 128px;
    display: flex;
}
.sec4-left {
    flex: 1;
    position: relative;
}
.sec4-right {
    flex: 1;
}
.sec4-left-shape    {
    width: 95px;
    height: 97px;
    background: #F58A07;
    mix-blend-mode: multiply;
    border-radius: 20px;
    position: absolute; 
    top: 217px;
    left: 0;
}
.sec4-left img{
    margin-left: 48px;
}
.sec4-right-q   {
    width: 383px;
    height: 56px;
    font-weight: 600;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -0.03em;
    color: #0D1317;
    margin: 128px 0 24px 55px;
}
.sec4-right-w   {
    width: 583px;
    height: 90px;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #5B5B5B;
    margin: 0 0 24px 55px;
}
.sec4-right-e   {
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    color: #5B5B5B;
    margin: 0 0 0 35px;
}
.sec5   {
    max-width: 1376px;
    height: 550px;
    margin: 0 auto;
    margin-bottom: 128px;
    display: flex;
}
.sec5-left  {
    flex: 1;
}
.sec5-left-q    {
    font-weight: 600;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -0.03em;
    color: #0D1317;
    width: 469px;
    height: 56px;
    margin: 160px 0 24px 48px;
}
.sec5-left-w    {
    width: 580px;
    height: 150px;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #5B5B5B;
    margin: 0 0 0 48px;
}
.sec5-right {
    flex: 1;
    position: relative;
}
.sec5-right-shape   {
    width: 95px;
    height: 97px;
    background: #F58A07;
    mix-blend-mode: multiply;
    border-radius: 20px;
    position: absolute; 
    right: 0;
    top: 272px;
}
.sec5-right img {
    position: absolute;
    right: 45px;
}
.sec6   {
    max-width: 1376px;
    height: 550px;
    margin: 0 auto;
    margin-bottom: 166px;
    display: flex;
}
.sec6-left  {
    flex: 1;
    position: relative;
}
.sec6-left-shape    {
    width: 95px;
    height: 97px;
    background: #F58A07;
    mix-blend-mode: multiply;
    border-radius: 20px;
    position: absolute;
    left: 0;
    top: 342px;
}
.sec6-left img{
    margin-left: 48px;
}
.sec6-right {
    flex: 1;
}
.sec6-right-q  {
    width: 386px;
    height: 56px;
    font-weight: 600;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -0.03em;
    color: #0D1317;
    margin: 128px 0 24px 55px;
}
.sec6-right-w   {
    width: 583px;
    height: 90px;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #5B5B5B;
    margin: 0 0 24px 55px;
}
.sec6-right-e   {
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    color: #5B5B5B;
    margin: 0 0 0 35px;
}
.sec7   {
    max-width: 1280px;
    height: 501px;
    margin: 0 auto;
    margin-bottom: 128px;
    display: flex;
}
.sec7-left  {
    flex: 1;
}
.sec7-left-q    {
    width: 550px;
    height: 112px;
    font-weight: 600;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -0.03em;
    text-transform: capitalize;
    color: #0D1317;
    margin: 78px 0 24px 0;
}
.sec7-left-w    {
    width: 550px;
    height: 90px;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #5B5B5B;
    margin: 0 0 40px 0;
}
.sec7-left-e {
    display: flex;
}
.sec7-left-e    img{
    margin: 0 24px 0 0;
}
.sec7-left-e-q  {
    width: 145px;
    height: 41px;
    font-weight: 500;
    font-size: 24px;
    line-height: 171%;
    color: #063255;
    margin-top: 6px;
}
.sec7-left-e-q-t   {
    height: 31px;
    font-weight: 500;
    font-size: 18px;
    line-height: 171%;
    color: #F58A07;
}
.sec7-right {
    flex: 1;
    position: relative;
}
.sec7-right img{
    position: absolute;
    right: 0;
}
.sec7-right-shape   {
    width: 51px;
    height: 51px;
    background: #FFFFFF;
    position: absolute;
    border-radius: 50%;
    top: 410;
    right: 529px;
    padding: 17px;
}
.sec7-right-shape-play  {
    position: absolute;
    right: 546px;
    top: 427px;
}
.sec8   {
    max-width: 100%;
    height: 819px;
    background-color: #DCEAF5;
    padding-top: 96px;
    padding-bottom: 96px;
}
.sec8-main  {
    width: 1280px;
    height: 627px;
    margin: 0 auto;
}
.sec8-main-header   {
    width: 453px;
    height: 56px;
    margin-bottom: 64px;
    font-weight: 600;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -0.03em;
    text-transform: capitalize;
    color: #0D1317;
}
.sec8-main-footer   {
    display: flex;
}
.sec8-main-footer-first img {
    border-radius: 20px 20px 0 0;
}
.sec8-main-footer-first {
    width: 400px;
    height: 507px;
    background-color: white;
    border-radius: 20px 20px 20px 20px;
    margin-right: 40px;
}
.sec8-main-footer-first-q   {
    width: 336px;
    height: 72px;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -0.03em;
    color: #0D1317;
    margin: 32px 32px 16px 32px;
}
.sec8-main-footer-first-w   {
    width: 336px;
    height: 84px;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    color: #5B5B5B;
    margin: 0 32px 24px 32px;
}
.sec8-main-footer-first-e   {
    width: 120px;
    height: 17px;
    font-weight: 500;
    font-size: 16px;
    line-height: 106.5%;
    color: #F58A07;
    margin: 0 0 32px 32px;
    display: flex;
}
.sec8-main-footer-first-e::after {
    content: "\2192";
    padding-left: 8px;
}
.sec8-main-footer-second    {
    width: 400px;
    height: 507px;
    background-color: white;
    border-radius: 20px 20px 20px 20px;
    margin-right: 40px;
}
.sec8-main-footer-second    img{
    border-radius: 20px 20px 0 0;
}
.sec8-main-footer-second-q  {
    width: 336px;
    height: 72px;
    margin: 32px 32px 16px 32px;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -0.03em;
    color: #0D1317;
}
.sec8-main-footer-second-w  {
    width: 336px;
    height: 84px;
    margin: 0 32px 24px 32px;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    color: #5B5B5B;
}
.sec8-main-footer-second-e  {
    width: 120px;
    height: 17px;
    font-weight: 500;
    font-size: 16px;
    line-height: 106.5%;
    color: #F58A07;
    margin: 0 0 32px 32px;
    display: flex;
}
.sec8-main-footer-second-e::after {
    content: "\2192";
    padding-left: 8px;
}
.sec8-main-footer-third {
    width: 400px;
    height: 507px;
    background-color: white;
    border-radius: 20px 20px 20px 20px;
}
.sec8-main-footer-third img{
    border-radius: 20px 20px 0 0;
}
.sec8-main-footer-third-q   {
    width: 336px;
    height: 72px;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -0.03em;
    color: #0D1317;
    margin: 32px 32px 16px 32px;
}
.sec8-main-footer-third-w   {
    width: 336px;
    height: 84px;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    color: #5B5B5B;
    margin: 0 32px 24px 32px;
}
.sec8-main-footer-third-e   {
    width: 120px;
    height: 17px;
    font-weight: 500;
    font-size: 16px;
    line-height: 106.5%;
    color: #F58A07;
    margin: 0 0 32px 32px;
    display: flex;
}
.sec8-main-footer-third-e::after    {
    content: "\2192";
    padding-left: 8px;
}
.footer {
    max-width: 100%;
    height: 463px;
    background-color: #063255;
    position: relative;
    padding-top: 80px;
}
.footer-border1 {
    width: 53px;
    height: 144px;
    background: #F58A07;
    border-top-right-radius: 20px;
    position: absolute;
    bottom: 0;
}
.footer-border2 {
    width: 53px;
    height: 287px;
    background: #F58A07;
    border-radius: 20px 0px 0px 20px;
    position: absolute;
    right: 0;
    top: 38px;
}
.footer-main    {
    max-width: 1280px;
    height: 199px;
    margin: 0 auto;
    display: flex;
}
.footer-main-first  {
    width: 351px;
    height: 100%;
    margin-right: 110px;
}
.footer-main-first-q    {
    margin: 0 0 32px 0;
}
.footer-main-first-w    {
    width: 351px;
    height: 88px;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    letter-spacing: -0.03em;
    color: #FFFFFF;
}
.footer-main-first-e    {
    margin: 32px 0 0 0;
}
.footer-main-second {
    width: 92px;
    height: 100%;
    margin-right: 106px;
}
.footer-main-second-q   {
    width: 92px;
    height: 27px;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
    margin-bottom: 24px;
}
.footer-main-second-w   {
    width: 72px;
    height: 24px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    margin-bottom: 16px;
}
.footer-main-second-e   {
    width: 65px;
    height: 24px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    margin-bottom: 16px;
}
.footer-main-second-r   {
    width: 68px;
    height: 24px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    margin-bottom: 16px;
}
.footer-main-second-t   {
    width: 35px;
    height: 24px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}
.footer-main-third  {
    width: 142px;
    height: 100%;
    margin-right: 137px;
}
.footer-main-third-q    {
    width: 79px;
    height: 27px;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
    margin-bottom: 26px;
}
.footer-main-third-w    {
    width: 142px;
    height: 24px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    margin-bottom: 16px;
}
.footer-main-third-e    {
    width: 136px;
    height: 24px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}
.footer-main-fourth {
    width: 342px;
    height: 100%;
}
.footer-main-fourth-q   {
    width: 141px;
    height: 27px;
    margin-bottom: 24px;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
}
.footer-main-fourth-w   {
    width: 342px;
    height: 54px;
    background: #FFFFFF;
    border-radius: 31px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #9C9C9C;
    padding-top: 18px;
    padding-left: 32px;
    margin-bottom: 16px;
}
.footer-main-fourth-e   {
    width: 156px;
    height: 54px;
    background: #F58A07;
    border-radius: 31px;
    font-weight: 600;
    font-size: 18px;
    line-height: 106.5%;
    text-transform: capitalize;
    color: #FFFFFF;
    padding-top: 17px;
    padding-left: 32px;
}
.footer-footer  {
    max-width: 1280px;
    height: 24px;
    margin: 80px auto;
    display: flex;
}
.footer-footer-q    {
    width: 249px;
    height: 24px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    margin-right: 733px;
}
.footer-footer-w    {
    width: 110px;
    height: 24px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    margin-right: 32px;
}
.footer-footer-e    {
    width: 156px;
    height: 24px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}
